#chess .coordinate {
    border: 1px solid black;
    height: 50px;
    font-size: 45px;
    line-height: 45px;
    vertical-align: middle;
    margin-bottom: 3px;
}

#chess .coordinate:after {
    content: "";
}

#chess .row:nth-child(even) .coordinate:nth-child(even), #chess .row:nth-child(odd) .coordinate:nth-child(odd) {
    background-color: #18bc9c;
}

#chess .centered {
    text-align: center;
}

#chess .centered > div {
    float: none;
    display: inline-block;
}

#chess .row-label {
    font-size: 65px;
}

#chess .ingame-message {
    font-weight: bold;
}

#chess .white-king-piece:after {
    content: "♔";
    cursor: pointer;
}

#chess .white-queen-piece:after {
    content: "♕";
    cursor: pointer;
}

#chess .white-knight-piece:after {
    content: "♘";
    cursor: pointer;
}

#chess .white-bishop-piece:after {
    content: "♗";
    cursor: pointer;
}

#chess .white-rook-piece:after {
    content: "♖";
    cursor: pointer;
}

#chess .black-king-piece:after {
    content: "♚";
    cursor: pointer;
}

#chess .black-queen-piece:after {
    content: "♛";
    cursor: pointer;
}

#chess .black-knight-piece:after {
    content: "♞";
    cursor: pointer;
}

#chess .black-bishop-piece:after {
    content: "♝";
    cursor: pointer;
}

#chess .black-rook-piece:after {
    content: "♜";
    cursor: pointer;
}