#connect-four .hole-spot {
  border: 1px solid black;
  height: 50px; }

#connect-four .centered {
  text-align: center; }

#connect-four .centered > div {
  float: none;
  display: inline-block; }

#connect-four .ingame-message {
  font-weight: bold; }

#connect-four .player-1-color {
  background-color: #18BC9C; }

#connect-four .player-2-color {
  background-color: #2C3E50; }

#connect-four .column-0:hover {
  transform: scale(1.05); }

#connect-four .column-1:hover {
  transform: scale(1.05); }

#connect-four .column-2:hover {
  transform: scale(1.05); }

#connect-four .column-3:hover {
  transform: scale(1.05); }

#connect-four .column-4:hover {
  transform: scale(1.05); }

#connect-four .column-5:hover {
  transform: scale(1.05); }

#connect-four .column-6:hover {
  transform: scale(1.05); }

#connect-four .column-7:hover {
  transform: scale(1.05); }
