header .intro-text .nickname {
  display: block;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 500; }

header .profile-pic {
  border-radius: 15px 50px;
  max-height: 200px; }
