$light-main-scheme-color: #18bc9c;

@mixin chesspiece {
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

#chess {
  .coordinate {
    border: 1px solid black;
    height: 50px;
    font-size: 45px;
    line-height: 45px;
    vertical-align: middle;
    margin-bottom: 3px;
  }

  .coordinate:after {
    content: "";
  }

  .row:nth-child(even) .coordinate:nth-child(even), .row:nth-child(odd) .coordinate:nth-child(odd) {
    background-color: $light-main-scheme-color;
  }

  .centered {
    text-align: center;
  }

  .centered > div {
    float: none;
    display: inline-block;
  }

  .row-label {
    font-size: 65px;
  }

  .ingame-message {
    font-weight: bold;
  }

  .white-king-piece {
    &:after {
      content: "♔";
    }

    @include chesspiece()
  }

  .white-queen-piece {
    &:after {
      content: "♕";
    }

    @include chesspiece()
  }


  .white-knight-piece {
    &:after {
      content: "♘";
    }

    @include chesspiece()
  }

  .white-bishop-piece {
    &:after {
      content: "♗";
    }

    @include chesspiece()
  }

  .white-rook-piece {
    &:after {
      content: "♖";
    }

    @include chesspiece()
  }

  .white-pawn-piece {
    &:after {
      content: "♙";
    }

    @include chesspiece()
  }

  .black-king-piece {
    &:after {
      content: "♚";
    }

    @include chesspiece()
  }

  .black-queen-piece {
    &:after {
      content: "♛";
    }

    @include chesspiece()
  }

  .black-knight-piece {
    &:after {
      content: "♞";
    }

    @include chesspiece()
  }

  .black-bishop-piece {
    &:after {
      content: "♝";
    }

    @include chesspiece()
  }

  .black-rook-piece {
    &:after {
      content: "♜";
    }

    @include chesspiece()
  }

  .black-pawn-piece {
    &:after {
      content: "♟";
    }

    @include chesspiece()
  }
}